@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{

    --background : #000000;
    --red : #c20000;
    --blue : #001F70;
}

*{
    margin:  0%;
    padding: 0%;
    border:  0%;
    box-sizing: border-box;

}

body{
    font-family:"roboto";
    font-size: 60px;                            
    background-color: white;
}

.topo{
    height: 173px;
    width: 1440px;
    background-color: #0554C0;
    
   
}

.text
{
    height: 173px;
    width: 1200px;    
    border-radius: 'nullpx';
    display: flex;
    justify-content: end;
}

.entrar
{
    height: 169px;
    width: 1440px;
    display: flex;
    justify-content: space-around;
    padding-top: 45px;
    background: #FFFDFD;
    border: 2px solid #000000;
}

.btn
{
    height: 75px;
    width: 290px;
    background: #FFF;
    font-size: 50px;
}
.btn2
{
    height: 75px;
    width: 350px;
    background: #FFF;
    font-size: 50px;
}

.content{
    width: 1440px;
    height: 169px;
    background-color: #FFFDFD;  
    display: flex;
}
.campos
{
    width: 720px;
    height: 169px;
    border: 2px solid #000000;
}

.campos p
{
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}

.topo img{
    max-width:12.18em;
}

.menu{
    width: 100%;
    max-width:50em;
}

.menu ul{
    list-style-type:none;                          /*retira as bolinhas do lado */
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.menu a{
    color: #fff;
    text-decoration: none;
    font-size: 1.7em;
    padding: 0.9em 0.5em;
    text-transform: uppercase;
}

.menu a:hover{
    background-color:var(--red);
    
}

#menu-bars{ 
    display: none;                               /*esconder menu mobile*/

}


.banner{
    width: 100%;
    position: relative;                        /*position pai*/

}

.banner-position{
    width: 100%;
    height: 100%;
    position: absolute;                    /*position absolute cola emcima do pai dele que seria o relative (banner)*/
    top: 0;
    /* background-color: rgba(0, 0, 255, 0.267); */
}

.banner-content{
    width: 95%;
    height: 93.5%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    /* background-color: rgba(245, 222, 179, 0.205); */
}

.banner-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* background-color:rgba(128, 255, 0, 0.5); */
}

.banner-text h1{
    font-size: 5.62em;

}

.banner-text p{
    font-size: 1.87em;

}

.banner-text a{
    font-size: 1.87em;
    text-transform: uppercase;
    color: #fff;
    text-decoration:none;
    background-color: var(--red);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin-top: 1em;
}

.jogos{
    width: 100%;
    height: 7.5em;
    color: #fff;
    /* background-color: chartreuse; */

}

.jogos ul{
    list-style-type: none;
    width: 100%;
}

.jogos ul a:hover img{
    transition: 0.5s;
    transform: scale(1.1);
}

.about{
    width: 100%;
    height: 31.25em;
    background-color: var(--blue);
    position: relative;

}
.about-angulation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.angulation{
    width:100%;
    height: 24em;
    background-color: var(--background);
    transform: skewy(-5deg);                         /*rotaciona  o eixo (Y)*/
}

.about-position{
    width: 100%;
    height: 100%;
     /* background-color:rgba(255, 0, 0, 0.397); */
     position: absolute;
     top: 0;

}

.about-text{
    width: 50%;
    margin-top: 6em;
    color: #fff;    
    text-align: justify;                         /*alinhar o texto como se estivesse em uma caixa*/
    
}

.about-text h2{
    font-size: 2.18em;
    margin-bottom: 0.5em;

}

.about-text p{
    font-size: 1em;                         /*tamanho da letra*/
    margin-bottom: 1em;                         /*mandar para baixo o conteudo*/

}

.about-position img{
    max-width: 31.87em;
    margin-top: 4em;
    /* background-color: #c20000; */
}

.jogos-aovivo, .jogos-embreve{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;  
    font-size: 1.575em;                         /*tamanho da fonte 30px*/
    text-transform: uppercase;  
    /* border-right: solid 1px #fff; */

    
}

.jogos-aovivo h2, .jogos-embreve h2{
    font-size: 1em;
    /* background-color:rgba(255, 0, 0, 0.397); */
}

.linha{
    /* content:''; */
    height: 3em;
    border: solid 1.5px #fff;
    margin: 0 1.5em;   
}

.partida{
    width:10em ;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1em;
    /* background-color: red; */
}

.partida img{
    max-width:1.8em ;/*54px*/
   
}
.time1 img{
    margin-left: 0.5em;

}

.time2 img{
    margin-right: 0.5em;
}
.time1, .time2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    /* background-color: red; */
}
.bk-sobre{
    width: 100%;
    height: auto;
    background-color:#1E1C21;
    display: flex;
    justify-content:space-around;
    padding-bottom: 2em;
    /* background-color: red; */
}
.noticias{
    width:auto;
    height:auto;
    margin-left: 2.5em;
    flex-wrap: wrap;
    /* background-color: green; */
    
}

.noticias h2{
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    padding-top: 0.6em;                           /*aliha a palavra NOTÍCIA no ponto certo*/
    color: white;
    /* background-color:blueviolet;  */
}   

.info-cards{

    width: 50em;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*padding: 0 1em; */                             /*distancia dos cards*/
    /* background-color: rgb(25, 0, 255); */
    
}
.cards{
    width: 100%;
    height:23.125em;     
    max-width:15em ;
    margin-top: 1.5em;
    background-image: linear-gradient(to bottom ,#000000, rgba(99, 99, 99, 0.466),rgba(109, 109, 109, 0.158),#000);
    box-shadow:0 0 3px 0.5px #fff ;            /*colocar sombra da borda no card*/
}

.cards h3{
    width: 14.8em;
    font-size:1em ;
    padding: 0 2.5em;
    color:white;
    text-transform: uppercase;
    
}

.cards p{
    width: 20.25em;
    height: 14.6em;
    margin:auto;
    font-size: 0.7em;
    color: white;
    display: flex;
    text-align: justify;
    padding-top: 2em;
}
.horarios{
    width:auto;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(0, 255, 242); */
}


.horarios h2{
    font-size: 1.87em;
    font-family: 'Roboto', sans-serif;
    padding-top: 0.6em;                             /* aliha a palavra NOTÍCIA no ponto certo */
    color: white;
    /* background-color: yellow; */
}
.times {   
    width:14.81em ;
    height: 47.53em ;
    display:flex;
    margin-top: 2em;
    /* align-content: center; */
    /* justify-content:space-around; */
    box-shadow:0 0 3px 0.5px #fff ;
    background-image: linear-gradient(to bottom , black, rgb(44, 44, 44),black);

}

.horarios .partida{
    width:auto;
    display: flex;
    align-items: center;
    margin: 2em 0.4em 0  ;                          /*Distancia das partidas com os horarios*/
    color: white; 
    /* background-color:rgb(255, 0, 221);  */
    
}


.day{
    width:auto;
    font-size: 0.5em;
    padding:1em 0 0 6em;
    color: white;
    display: flex;
    justify-content:flex-start;
    text-align: justify;
    /* background-color: brown; */
}

.rodape{
    padding: 1em 0;
    color: #fff;
    /* background-color:blue; */
}

.links-footer{
    width: 30%;
    display: flex;
    justify-content:space-between;
    /* background-color: #9824F3; */
   /* margin-left:2.5em; */
}

.links h2{
    font-size: 1.5em;
    color: #fff;

}

.links ul{
    margin-top: 0.5em;
    color: #fff;
}

.links li{
    margin-left: 2em;
}

.links a{
    color: #fff;
    text-decoration: none;
}

.logo-rodape{
    width:30%;
}
.sociais{
    width: 35%;
    /* background-color: red; */
}

.newslatter h2{
    font-size: 0.875em;
    margin-bottom: 0.5em;
}

.newslatter form{
    display: flex;
    /* outline: #000; */
}

.newslatter input[type="email"]{
    width: 10em;                               /*largura do botão*/
    height: 2em;                              /*altura do botão*/
    font-size: 1em;
    padding-left: 1em; 
}

.newslatter input[type="email"]::placeholder{
    font-weight: bold; 
}

.newslatter input[type="button"]{
    width:10em;
    height: 2em;
    font-size: 1em;
    background-color:#8326EF;
    color: #fff;
    text-transform: uppercase;
    outline:#8326EF; 
    font-weight: bold 0.8em;
}
.siga-nos{
    margin-top: 1em;

}

/* .siga-nos img{
    width: 4.5em;
    height: 4em; 
   
} */


/* (de 992px á  1199px) */
@media screen and (max-width :74.93em){

    .menu a{
        font-size: 1.3em;
        padding: 0 0.9em;
    }
    
    .menu a:hover{
    background-color:var(--red);
    }


    .banner-text h1{
        font-size: 5em;
    }

    .banner-text p{
        font-size: 1.1em;
    }

    .about-position img{
    max-width: 29em;
    margin: 6.5em 0 0 2em;
    /* background-color: #c20000; */
    }

    .about-text h2{
        font-size: 2em;
        margin-bottom: 0.5em;

    }

    .about-text p{
        font-size: 0.9em;                         /*tamanho da letra*/
        margin-bottom: 1em;                         /*mandar para baixo o conteudo*/
    }
    .jogos li{
        padding-left:1em;
        /* background-color: var(--blue); */
    }


    .desktop-jogos{
        display: none;
    }

    .bk-sobre{
        padding-bottom: 2em;
    }

    .info-cards{
    width: 95%;
    justify-content: space-around;
    align-items: center;
    display: flex  ;
    padding-right:  1em;
    /* background-color: #fff; */

    }

    .card2{
        display: none;
    }


    .links h2{
        font-size: 1.2em;
        color: #fff;
    }

    .links li{
        margin-left: 1em;
        font-size: 00.9em;
    }

    .horarios{
        padding-right: 2em;
    }
}

/* de 767px á 991px */
@media screen and (max-width :61.93em){

    .topo .content {
        height: 100%;
        padding-top: 1em;
        display: flex;
        flex-direction:column ;
        /* background-color: red; */
    }

    .banner-text h1{
        font-size: 3.5em;
    
    }
    
    .banner-text p{
        font-size: 1em;
    
    }
    
    .banner-text a{
        font-size: 1.5em;
        text-transform: uppercase;
        color: #fff;
        text-decoration:none;
        background-color: var(--red);
        padding: 0.3em 0.7em;
        border-radius: 0.5em;
        margin-top: 1em;
    
    }
    
    .about-position img{
        width: 50%;
        /* display: none; */

    }

    .about-text h2{
        font-size: 1.5em;

    }
    
    .about-text p{
        font-size: 0.85em;                         /*tamanho da letra*/
        margin-bottom: 1em;                         /*mandar para baixo o conteudo*/
    
    }

    .jogos h2{
        font-size: 0.85em;
        /* color: rgb(223, 53, 53); */

    }


    .bk-sobre{
        padding-bottom: 2em;
    }
    .noticias{
        width:auto;
        height:auto;
        margin-left: 2em;
        flex-wrap: wrap;
        /* background-color: green; */
    }
    
    .cards{
        height:23.125em;     
        max-width:12em ;
        margin-right: 2em;
        background-image: linear-gradient(to bottom ,#000000, rgba(99, 99, 99, 0.466),rgba(109, 109, 109, 0.158),#000);
        box-shadow:0 0 3px 0.5px #fff ;            /*colocar sombra da borda no card*/
        /* background-color: red; */
    }


    .cards h3{
        width: auto;
        font-size: 0.8em;
        /* background-color: red; */
    }
    .cards p{
        width: auto;
        display: flex;
        text-align: justify;
        padding: 1em;
        /* background-color:purple; */
    }

    .horarios{
        padding-right:0.6em ;
    }

    .newslatter input[type="email"]{
        width: 8em;
    }
}
/* de 575x á 766px */
@media screen and (max-width :47.93em){
    
    .topo {
        height: 100%;
        display: flex;
        /* background-color: red; */
        padding: 1em 0;
    }
    .topo img{
        max-width: 15em;
    }
    
    #menu-bars{
        display: block;                                  /*mostrar menu mobile*/
        display: flex;
        justify-content: flex-end;
    }

    .menu a{
        display: none;
    }

    .banner-text h1{
        font-size: 2.7em;
    
    }
    
    .banner-text p{
        font-size: 1em;
    
    }
    
    .banner-text a{
        font-size: 1.2em;
        text-transform: uppercase;
        color: #fff;
        text-decoration:none;
        background-color: var(--red);
        padding: 0.3em 0.7em;
        border-radius: 0.4em;
        margin-top: 1em;
    
    }
    
    .about-text{
        width: auto;
        display:flex;
        flex-direction: column;
       text-align: justify;
        align-items:center;
    }
    .about-position img{
        display: none;
    }
    
    .jogos>content{
        display: flex;
        flex-direction: column;
        background-color: yellow;
    }

}

/* de 0 á 574px*/
@media screen and (max-width :35.93em){
    #menu-bars{
        display: block;                                      /*mostrar menu mobile*/

    }

}