@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{

    --background : #000000;
    --red : #c20000;
    --blue : #001F70;
}

*{
    margin:  0%;
    padding: 0%;
    border:  0%;
    box-sizing: border-box;

}

body{
    font-family:"roboto";
    font-size: 60px;                            
    background-color: white;
}

.topo{
    height: 173px;
    width: 1440px;
    background-color: #0554C0;
    
   
}

.text
{
    height: 173px;
    width: 1200px;    
    border-radius: 'nullpx';
    display: flex;
    justify-content: end;
}

.entrar
{
    height: 169px;
    width: 1440px;
    display: flex;
    justify-content: space-around;
    padding-top: 45px;
    background: #FFFDFD;
    border: 2px solid #000000;
}

.btn
{
    height: 75px;
    width: 290px;
    background: #FFF;
    font-size: 50px;
}
.btn2
{
    height: 75px;
    width: 350px;
    background: #FFF;
    font-size: 50px;
}

.content{
    width: 1440px;
    height: 169px;
    background-color: #FFFDFD;  
    display: flex;
}
.campos
{
    width: 720px;
    height: 169px;
    border: 2px solid #000000;
}

.campos p
{
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}
