<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TCC</title>
    @switch (ViewData["Title"])
    {
        case "Login":
            <link rel="stylesheet" href="~/css/Login.css" />
            break;

        case "Feed":
            <link rel="stylesheet" href="~/css/Feed.css" />
            break;

        case "Logado":
            <link rel="stylesheet" href="~/css/Logado.css" />
            break;

        case "Cadastro":
            <link rel="stylesheet" href="~/css/cadastro.css" />
            break;

        case "index":
            <link rel="stylesheet" href="~/css/index.css" />
            break;
        default:
            break;
    }
</head>
<body>
    @switch (ViewData["Title"])
    {
        case "Login":
            break;

        case "Cadastro":
        break;

        default:
        <header class="topo">
            <div class="text">
                <h1>Payment Receipts</h1>
            </div>
      </header>
        break;
    }
    
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
