*{
    margin:  0%;
    padding: 0%;
    border:  0%;
    box-sizing: border-box;

}

body{
    font-family:"roboto";
    background-color: white;
}

.menu
{
    width: 325px;
    background:#F0F0F0;
    display: flex;
    flex-direction: column;
}

.links
{
    width: auto;
}