@{
    ViewData["Title"] = "Home Page";
}
    <link rel="stylesheet" href="~/css/index.css" />


<body>
    <main>
       
        <div class="entrar"> <!-- inicio entrar-->
            <a class="btn" asp-area="" asp-action="index" asp-controller="index">Home</a>
            <a class="btn" asp-area="" asp-action="index" asp-controller="Login">Entrar</a>
            <a class="btn2" asp-area="" asp-action="cadastro" asp-controller="Usuario">Cadastre-se</a>
         </div>
         <div class="entrar1"></div><!--fim entrar  -->

         <section class="content">
            <div class="campos">  <p>Fale com os representantes</p>
            </div>
            <div class="campos">
              <p>Notas Fiscais e Recibos</p>
            </div>
         </section>
         <section class="content2">
            <div class="img">
                <img src="images/cadeado.svg" alt="imagem de um cadeado">
            </div >
            <div class="img2">
                <h1>Não perca seus documentos</h1>
                <h2>Guarde suas Notas Fiscais,<br>Recibos e Comprovantes</h2>
            </div>
         </section>
       
    </main>
    <footer >
        Payment Receipts
    </footer>
</body>

</html>