@{
    ViewData["Title"] = "Home Page";
}
    <link rel="stylesheet" href="~/css/index.css" />


<body>
    <main>
       
        <div class="entrar"> <!-- inicio entrar-->
            <a class="btn2"  asp-area="" asp-action="index"     asp-controller="Home">Início</a>
            <a class="btn2"  asp-area="" >Sobre nós</a>
            <a class="btn2"  asp-area="" >Serviços</a>
            <a class="btn2"  asp-area="" asp-action="index"     asp-controller="Login">Entrar</a>
            <a class="btn2"  asp-area="" >Entre em contato</a>
         </div>
         <div class="entrar1">
             <h3>Bem vindo(a) à <br>Contabilimed </h3>
             <p>Para todas as suas necessidades contábeis</p>
         </div> <!--fim entrar  -->

         <section class="content">
            <div class="campos"> 
                <div class="interna">
                    <h3>Nossa forma de trabalhar</h3>
                    <span>Os contadores que você pode confiar</span><br>
                    <div class="texto1">
                        <p>​O(A) Contabilimed tem fornecido serviços personalizados de contabilidade e fiscais em São Paulo desde 2000. Com nossa equipe altamente treinada, sempre em busca de novos conhecimentos, estamos prontos para lidar com todas as suas necessidades de contabilidade, seja qual for o grau de complexidade. Caso precise de ajuda com as suas finanças pessoais ou da sua empresa, estamos sempre prontos para fazer seu planejamento fiscal ou para prestar assessoria em contabilidade.
                        </p>
                    </div>
                </div>
            </div>
            <div class="campos2">
            </div>
         </section>
         <section class="content2">
             <div class="servicos"><h3>Serviços</h3>
             <p>Serviços individualizados de contabilidade</p>
             </div>
         </section>
         <section class="images ">
            <div class="img">
                <p> Planejamento Tributátrio para pessoas jurídicas</p>
                <span>Aliviando o stress</span>
                <button>Entre em Contato</button>
            </div >
            <div class="img2">
               <p>Consultoria Fiscal</p>
               <span>Organizando vida Financeira</span>
               <button>Entre em Contato</button>
            </div>
         </section>
         <section class="contate"> 
             <div class="esquerda">
                 <h3>Contate-nos</h3>
                 <p>Av. Bernardinho de Campos. 98 - São Paulo</p>
                 <p>rricchard835@gmail.com</p>
                 <p>Tel - (11)34567890</p>
             </div>
             <div class="direita"> 
@* ======================================================================================================= *@
          <form>
            <div class="item">
              <input
                class="input__login" placeholder="Nome Completo" type="text" />
            </div>
            <div class="item">
              <input
                class="input__login" placeholder="Insira seu Email" type="email" />
            </div>
            <div class="item">
              <input
                class="input__login" placeholder="Telefone" type="tel" />
            </div>
            <div class="item">
              <input
                class="input__login" placeholder="Insira seu Endereço" type="text" />
            </div>
            <div class="item">
              <input
                class="input__login" placeholder="Assunto" type="text" />
            </div>
            <div class="item">
              <input
                class="input__login" placeholder="Digite aqui sua Mensagem  " type="text" />
            </div>
            <div class="item">
              <button class="btn btn__login" id="btn__login">Enviar</button>
            </div>
          </form>
          <span>Obrigado pelo envio !</span>

 @* ======================================================================================== *@
            </div>
         </section>
       
    <footer >
        Contabilimed
    </footer>
    </main>
</body>

</html>