*{
    margin:  0%;
    padding: 0%;
    border:  0%;
    box-sizing: border-box;

}

body{
    width:1366px;
    height: 1024px;
    background-color: #FFF;
    font-family: 'Segoe UI';
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.conteiner h1
{
    font-size: 50px;
    /* margin-top: 50px; */
}
.cdtr
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


.cdtr input
{
    
    width: 300px;
    height: 40px;
    font-size: 25px;
    margin-bottom: 42px;
    background: #FAFAFA;
    border: 1px solid #DCDCDC;
    border-radius: 12px;
    border: 2px solid #000000;
    text-align: center;
}
.cdtr button
{
    width: 250px;
    height: 40px;
    font-size: 25px;
    margin-bottom: 42px;
    background: #1246FE;
    border: 1px solid #DCDCDC;
    border-radius: 12px;
    border: 2px solid #000000;
    text-align: center;
}
.conteiner
{
    width: 489px;
    height: 492px;
    background: #c4c4c4fa;
    margin-bottom: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

footer
{
    Width :1366px;
    Height: 81px;
    font-family: 'Roboto';
    font-size: 50px;
    color: #FFFFFF;
    background-color: black;
    display: flex;
    justify-content: center;
}