*{
    margin:  0%;
    padding: 0%;
    border:  0%;
    box-sizing: border-box;

}
main{
    display: flex;
    flex-direction: column;
}
body{
    width:1366px;
    height: 1024px;
    background-color: #FFF;
    font-family: 'Segoe UI';
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.retangulo1{
    width: 386px;
    height: 500px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e9e6e6;
    box-sizing: border-box;

}

.login 
{
    font-size: 60px;
    margin-bottom: 30px;
    padding-top: 15px;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    /* width: 400px;
    height: 110px; */
    /* background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 12px; */
}

.L-form_login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.L-form_login input{
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 42px;
    background: #FAFAFA;
    border: 1px solid #DCDCDC;
    border-radius: 12px;
    border: 1px solid #000000;
    text-align: center;
}
.L-form_login .input1{
    
    margin-top: 20px;
}
.L-form_login .input2{
    margin-bottom: 17px;
}
.L-form_login button{
    width: 230px;
    height: 46px;
    font-size: 30px;
    border: 1px solid;
    margin-top: 35px;
    background:#1246FE;
    color: black;
    border-radius: 1px solid #000;
    border-radius: 8px;
}
.button
{
    width: 230px;
    height: 76px;
    font-size: 30px;
    border: 1px solid;
    margin-top: 35px;
    margin-left: 90px;
    background:#1246FE;
    color: black;
    border-radius: 1px solid #000;
}

.link p
{
    text-decoration: none;
}

.erro 
{
    color: red;
}
