@{
    ViewData["Title"] = "Cadastro";
}
<link rel="stylesheet" href="~/css/cadastro.css" />

    <div class="conteiner">
        <h1>Cadastre-se</h1>
        <form class="cdtr" method="POST" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">
            <input class="input1"  name="Nome" type="text" placeholder="Nome Completo" required />
            <input class="input1"  name="Email" type="email" placeholder="Email" required />
            <input class="input2"  name="Senha" type="password" placeholder="Senha" required />
            <input class="input2"  name="DataNascimento" type="date" placeholder="Data de nascimento" required />
            <button type="submit">Casdastre-se</button>              
        </form>

    </div>
    <div class="content2">
            <p>Já possui uma conta? <a asp-area="" asp-action="Login" asp-controller="Login"> Conecte-se</a></p>
    </div>

