@model Publicacao
@{
    ViewData["Title"] = "Logado";

    <form action='@Url.Action("Cadsatrar")' method="POST" enctype="multipart/form-data">
        
        <label>Arquivo</label>
        <input class="arquivo"type="file"required>

        <label>Descricao</label>
        <input class="desc" type="text"required>

        <label>Data</label>
        <input class="data" name="DataNascimento" type="date"required />

        <button class="criar" type="submit"> Arquivar </button>

    </form>
}